*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}

#page1{
    height: 100vh;
    width: 100vw;
    background-color: #e3e3c4;
    
}
#page2{
    min-height: 100vh;
    width: 100vw;
    background-color: #556043;
    padding: 5vw;
}
#page2 h1{
    color:#434B34;
    font-size: 5vw;
    font-weight: 400;
    text-align: center;
    line-height: 4.5vw;
}

#page3{
    height: 100vh;
    width: 100vw;
    background-color: #e3e3c4;
    
}
